<!doctype html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width-device-width">
		<title> CS 7346 Final Project </title>
	</head>

	<body>
		<h1> CS 7346 Final Project </h1>
		<form method = "POST" action = " " enctype="multipart/form-data">
			<p> <input type = "file" name = "photo_file" accept = ".bmp, .png, .gif, .jpg"> </p>
			<p> <input type = "submit" value = "Upload"> </p>
			<p> {{ allowed }} </p>
			<p> <img src="{{ image }}" alt="Result" width="300" height="300" style="display: none" onload="this.style.display=''" onerror=display='none'> </p>
                        <p style="font-size:18px"><b> {{ cnn }} </b></p>
		</form>
	</body>
</html>
